.globalWeather{
    width: 100%;
    height: 100%;
    /* display: flex; */
    background: #100E1D;

}
  
.weatherWeeks{
    display: flex;
    width: 100%;
    height: 32.5%;
    margin-top: 5%;
    margin-left: 2rem;
    margin-right: 2rem;
}

.weatherFeatures{
    display: flex;
    width: inherit;
    height: inherit;
    margin-top: 5%;
}

.featuresContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 51%;
    margin-top: 6rem;
}

.hightligths{
    color: #FFF;
    text-align: center;
}