.weatherContainer{
    background-color: #3B324F;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    height: 100%;
    color: #FFF;
}