.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    margin-left: 2rem;
    width: 50%;
    height: 45%;
}

#principarText{
    color: #D2D1D1
}

.featuresIndividual{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background: #1E213A;
    width: 100%;
    height: 80%;
    padding: 1rem;
}

.navImage{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(315deg) brightness(103%) contrast(102%);
    margin: 0;
    padding: 0;
    
}