.weatherCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #3B324F;
    color: #FFF;
    margin-left: 2rem;
    padding: 1rem;
    width: 15%;
    height: 75%;
    border-radius: 1rem;
}

#minTemp{
    color: #D2D1D1 ;
    width: 25%;
}